__pycache__/
*.py[cod]
*.so
*.log
*.mp4
*.avi
*.tmp
*.sqlite3
*.db
.DS_Store
.env
secret/
secret/**
node_modules/
api/node_modules/
runs/
static/upload_image/
static/food_image/
static/ocr/
static/foodocr/
static/foodOCR/
static/pose/
*.pt
*.h5
*.onnx
temp.png
.git
.gitignore